import React from 'react';
import { Card, Typography } from 'antd';

const { Title } = Typography;

export const {{properCase name}}Page: React.FC = () => {
  return (
    <div>
      <Title level={2}>{{properCase name}}</Title>
      
      <Card>
        <p>Welcome to the {{properCase name}} feature!</p>
        <p>This is a generated feature template. You can customize it as needed.</p>
      </Card>
    </div>
  );
};
